---

// Codigo server side only - Momento de construccion build time

import type { PokemonListResponse} from '@interfaces/pokemon-list.response';
import MainLayout from "@layouts/MainLayout.astro"
import PokemonCard from '@components/PokemonCard.astro';



const respuesta = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await respuesta.json()) as PokemonListResponse;


const title = 'Pokémon Static | Home';

---
<MainLayout title={title}>
	<h1 class="text-3xl text-center py-3">Listado de Pokemons</h1>
	<hr>
<section aria-label="Listado de Pokemons" class="py-5 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4">
	{
		data.results.map(({name , url})=>(
			<PokemonCard name={name} url={url}/>
		))
	}
</section>
	

</MainLayout>