---
import { Counter } from "@components/Counter";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


 // vamos a enviar este valor al componente Counter
const counterValue = 20;

---

<MainLayout title="Islas">
  <Title>Islas</Title>
  <video controls="" autoplay="true" transition:persist ="media-player">
    <source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
  </video>

  <div style={{
    height : '1200px',
    backgroundColor : 'red',
    opacity : 0.4
  }}>

</div>

  
   <h1 class="mt-5">Carga el componente solamente cuando es visible</h1>
   <hr/>
   <h3 class="mt-5"><code>counterValue = 20</code></h3>

   <Counter client:visible initValue={counterValue} transition:persist-props transition:persist="counter">
    <!-- Enviamos un Componente dentro de una isla -->
    <Title>Counter Title</Title>
   </Counter>

   
</MainLayout>



 <!-- 
 Directivas del lado del cliente


### client:load ###

  Carga e hidrata el componente inmediatamente carga la pagina

### client:idle ###

  Carga e hidrata el componente una vez que termina la pagina y su carga inicial

### client:visible

  Carga e hidrata el componente una vez que el componente entra en el ViewPort del usuario
  Por ejemplo tenemos un componente en el fondo de la pantalla, que no es visible hasta que bajemos
  no se cargara hasta que sea vea


### client: visible={{rootMargin : "200px"}}

  Hace extamente lo mismo que visible , pero el componente carga en este ejemplo 200px antes que sea visible
  para darnos un tiempo de precarga y que el componente ya este cargado cuando sea visible

### client:media="(max-width: 50em)"

  El componente empezara a cargar e hidratarse cuando un media-query de CSS es cumplido
  Sirve por ejempo para no cargar un Sidebar y un elemento que solamente es visible en ciertos tamaños de pantalla

### client:only={"react" o "preact" o "svelte" o "vue" o "solid-js" o "lit"}
  
  Actua como client:load , pero evita la renderizacion en el servidor de la parte HTML , solo se renderiza en el cliente

 -->

<!--
 si queremos que el valor se comparta entre islas usamos transition:persist="nombre de lo que se compartira"

-->

 <!-- 

  Cuando se añade transition:persist a una isla, 
  el estado se mantiene durante la navegación, 
  pero el componente se vuelve a renderizar con nuevos props. 
  Esto es útil, por ejemplo, cuando un componente recibe props específicos 
  de la página, como el title de la página actual.


  Con transition:persist-props ,al añadir esta directiva se conservarán 
  los accesorios existentes de una isla
  (no se volverá a renderizar con nuevos valores) 
  además de mantener su estado existente.

 -->